body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    text-align: center;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
/* ul{
    padding: 0;
    border-top: 1px solid #000000; */
    /* display:table; */
    /* table-layout: fixed;
    width:100%;
} */
li{
    list-style-type:none;
    padding: 0px 80px;
    /* border: 1px solid #666; */
    background-color: #FFF;
    display:inline;  /* 定義 */
    /* cursor: pointer; */
}
span{
    list-style-type:none;
    padding: 0px 150px;
    /* border: 1px solid #666; */
    background-color: #FFF;
    display:inline;  /* 定義 */
    /* cursor: pointer; */
}
#btn{
    list-style-type:none;
    border: 1px solid #666;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF;
    display:inline;  /* 定義 */
    cursor: pointer;
    text-align: center;
}
#btn:hover{
    background: #0066CC;
    color:#fff;
}
.taisen{
    margin-top: 30px;
}
/* .inline {
	text-align: center;
}
.inline li {
	display: inline;
} */
